body {
	background-color: #607063;
	background-image: url('../img/fabric-seamless.jpg');
	/*animation: backgroundpan 1.5s linear infinite;*/
	overflow: hidden;
}
#grumpy {
	display: none;
	position: absolute;
	top: 40px;
}
#grumpy img {
	height: 200px;
}
@media (min-height: 700px) {
	#grumpy img {
		height: 250px;
	}
}
@media (min-height: 750px) {
	#grumpy img {
		height: 300px;
	}
}
#story, #instructions, #gameover, #domgame {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	font-family: "Amatic";
	color: #fff;
}
#story, #instructions, #gameover {
	display: flex;
	z-index: 100000;
	background-color: #000;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#instructions {
	font-size: 40px;
	z-index: 10000;
}
#gameover {
	z-index: 1000000;
	display: none;
	top: 10vh;
	left: 10vw;
	height: 80vh;
	width: 80vw;
	background-color: rgba(0, 0, 0, .9);
}
#gameover img {
	height: 180px;
	display: none;
	position: absolute;
	top: 120px;
}
#gameover h2 {
	position: absolute;
	top: 20px;
	margin: 0px;
	font-size: 60px;
}
#domgame {
	z-index: 1000;
}
#score {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 60px;
	color: #420;
	font-weight: 700;
	text-align: right;
}
#needle {
	position: absolute;
	height: auto;
	width: 200px;
	left: 15px;
	transition: .2s all linear;
	z-index: 100;
}
#needle-img {
	height: auto;
	width: 100%;
	transform-origin: 0% 50%;
	transition: .2s all linear;
}
#instructions p {
	margin: 0px;
}
#instructions table {
	font-size: 30px;
	width: 500px;
	margin: 10px;
	background-color: rgba(255, 255, 255, .3);
	padding: 30px;
}
#instructions table td {
	text-align: center;
}
#story-message {
	margin-top: 30px;
	font-size: 72px;
}

#story-hint, #instructions-hint, #gameover-hint {
	font-size: 30px;
	position: absolute;
	bottom: 20px;
	width: 100vw;
	text-align: center;
	animation: textzoom .5s infinite alternate, rainbow 2s linear infinite alternate;
}
#story-hint {
	display: none;
}
#gameover-score {
	font-size: 30px;
	position: absolute;
	top: 350px;
}
#gameover-score span {
	font-weight: 700;
	color: #f88;
}
#gameover-msg {
	font-size: 50px;
	position: absolute;
	top: 260px;
}
#gameover-hint {
	display: none;
	bottom: -15px;
}
@media (min-height: 700px) {
	#gameover img {
		height: 200px;
	}
	#gameover-score {
		top: 420px;
	}
	#gameover-msg {
		top: 300px;
	}
	#gameover-hint {
		bottom: 20px;
	}
}
#game {
	position: absolute;
	display: block;
}
.asset {
	width: 1px;
	height: 1px;
	position: absolute;
	left: -100000px;
	top: -100000px;
}

.scissors, .thread {
	position: absolute;
	display: block;
	width: 200px;
	height: 200px;
	background-size: 200px 200px;
	left: 100000px;
	background-image: url('../img/scissors.gif');
	background-repeat: no-repeat;
	background-position: center center;
	transform: rotate(180deg);
	z-index: 90;
}

.thread {
	background-image: url('../img/spool.png');
	transform: rotate(0deg);
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	animation: pulse .5s infinite alternate;
}

@keyframes pulse {
	0% {
		transform: scale(.8);
	}
	100% {
		transform: scale(1.1);
	}
}