@font-face {
	font-family: 'Amatic';
	font-style: normal;
	font-weight: 400;
	src: url('AmaticSC-Regular.ttf');
}
@font-face {
	font-family: 'Amatic';
	font-style: normal;
	font-weight: 700;
	src: url('AmaticSC-Bold.ttf');
}
@font-face {
	font-family: 'Patchwork';
	font-style: normal;
	font-weight: 400;
	src: url('PatchworkStitchlings.ttf');
}

* {
	box-sizing: border-box;
	cursor: none;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Amatic', sans-serif;
	background-color: #ccc;
}

#game {
	display: block;
}
