body {
	background-color: #607063;
	background-image: url('../img/fabric-seamless.jpg');
	animation: backgroundpan 1.5s linear infinite;
}
h1 {
	color: #f00;
	font-size: 30px;
	font-family: "Patchwork";
	text-align: center;
}
#tag {
	animation: textzoom .5s infinite alternate, rainbow 2s linear infinite alternate;
	color: purple;
	font-size: 40px;
	font-family: "Amatic";
	font-weight: 700;
	text-align: center;
}

#left, #right {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 50vw;
	height: 100vh;
	top: 0px;
}
#left {
	left: 0px;
	flex-wrap: wrap;
	flex-direction: column;
}
#right {
	right: 0px;
}
.menu-wrapper {
	position: relative;
	display: block;
	width: 70%;
	height: 80%;
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
	margin: 50px;
}
.menu-button {
	display: block;
	width: 100%;
	padding: 20px 40px;
	font-size: 56px;
}
.menu-button.active {
	font-weight: 700;
	/*border-left: 8px solid #000;*/
	position: relative;
}
#options-menu {
	display: none;
}
#needle-cursor {
	position: absolute;
	right: calc(100% + 10px);
	display: block;
	top: 0px;
	transition: top .2s;
}
